/* Desktop */

@media (min-width: 1024px) {

    .errorCont {
        margin-top: 0%;
        height: 460px;
        background-image: url('http://localhost:3001/img/system/banner.jpg');
        background-size: cover;
    }

    .errorMsg {
        padding: 17%;
        margin-top: 0%;
        font-size: 27px;
        text-align: center;
        color: white;
    }

}