<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jujuy</title>
    <link rel="stylesheet" href="/css/jujuy.css">
</head>

<body>
    <header>
        <div class="headerLeft">
            <img class="logo" src="./img/On-The-Road-Media-Logo.png" alt="logo">
            <div class="brand">
                <h1>On the road</h1>
                <h2>experiencias de viaje alternativas</h2>
            </div>
        </div>
        <div class="headerCenter">
            <form class="search">
                <input type="search" placeholder="¿Qué lugar querés visitar hoy?">
                <!--<button><i
                        class="fa-solid fa-magnifying-glass"></i></button>!--></input>
            </form>
        </div>
        <div class="headerRight">
            <a href="#cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <button class="login"><a href="/login">Iniciar sesión</a></button>
        </div>
    </header>
    <main>
        <nav class="top-nav">
            <a href="/">Inicio</a>
            <a href="#ofertas">Ofertas</a>
            <a href="#preguntas-frecuentes">Preguntas frecuentes</a>
            <a href="#contacto">Contacto</a>
        </nav>
        <section class="imgMuestra">
            <img id="img1" src="./img/jujuy/jujuyHumahuaca1.jpg" alt="jujuyHumahuaca1">
            <img id="img2" src="./img/jujuy/jujuyHumahuaca2.jpg" alt="jujuyHumahuaca2">
            <img id="img3" tabindex="3" src="./img/jujuy/jujuyHumahuaca4.jpg" alt="jujuyHumahuaca4">
        </section>
        <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, sapiente aut explicabo
            eum atque cum? Expedita error laboriosam assumenda, reprehenderit vitae iste placeat? Quasi iste fugit
            incidunt culpa numquam? Excepturi.</p>
        <p class="informacion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptatem modi odio
            blanditiis qui nobis fugiat fugit obcaecati, similique mollitia, quis corrupti eius itaque ullam. Alias
            consequuntur cupiditate error similique.</p>
        <!-- <section id="calendario">
            <table>
                <tr>
                    <th colspan="1"><-</th>
                    <th colspan="5">Julio 2022</th>
                    <th colspan="1">-></th>
                </tr>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
                <tr>
                    <td style="empty-cells: hide;"></td>
                    <td style="empty-cells: hide;"></td>
                    <td style="empty-cells: hide;"></td>
                    <td style="empty-cells: hide;"></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                </tr>
            </table>
        </section> -->
        <!-- <section id="formaPago">
            <form>
                <label for=""></label>
                <select name="" id="">
                    <option value="">Visa</option>
                    <option value="">MasterCard</option>\
                    <option value="">American Express</option>
                    <option value="">Naranja X</option>
                    <option value="">Cabal</option>
                </select>
                <label for=""></label>
                <select name="" id="">
                    <option value="">Debito</option>
                    <option value="">Credito</option>
                </select>
                <button type="submit">VER</button>
            </form>
        </section> -->
        <section id="opiniones">
            <article>
                <p class="userName">nombreApellido</p>
                <img class="imgPerfil" src="./img/jujuy/perfil1.webp" alt="iconAvatar">
                <p class="textOpinion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maiores nihil accusamus adipisci
                    officiis consequatur, magni explicabo perferendis fuga asperiores, dolores maxime laudantium
                    consequuntur omnis aliquam? Nemo ex dolores recusandae.</p>
            </article>
            <article>
                <p class="userName">nombreApellido</p>
                <img class="imgPerfil" src="./img/jujuy/iconAvatar.png" alt="iconAvatar">
                <p class="textOpinion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maiores nihil accusamus adipisci
                    officiis consequatur, magni explicabo perferendis fuga asperiores, dolores maxime laudantium
                    consequuntur omnis aliquam? Nemo ex dolores recusandae.</p>
            </article>
            <article>
                <p class="userName">nombreApellido</p>
                <img class="imgPerfil" src="./img/jujuy/perfil2.jpeg" alt="iconAvatar">
                <p class="textOpinion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maiores nihil accusamus adipisci
                    officiis consequatur, magni explicabo perferendis fuga asperiores, dolores maxime laudantium
                    consequuntur omnis aliquam? Nemo ex dolores recusandae.</p>
            </article>
            <article>
                <p class="userName">nombreApellido</p>
                <img class="imgPerfil" src="./img/jujuy/perfil3.jpg" alt="iconAvatar">
                <p class="textOpinion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maiores nihil accusamus adipisci
                    officiis consequatur, magni explicabo perferendis fuga asperiores, dolores maxime laudantium
                    consequuntur omnis aliquam? Nemo ex dolores recusandae.</p>
            </article>
        </section>
        <p>Queres visitar otro lugar?</p>
        <section class="product-showcase">
            <article class="product">
                <img src="./img/bsas3.jpg" alt="bsas">
                <div class="product-description">
                    <h5 class="place">Buenos Aires</h5>
                    <p class="description">Un dia para conocer los rincones de la ciudad y sentirte un
                        porteño más. </p>
                    <br>
                    <ul>
                        <li>Tarde de teatro off. En la ciudad hay numerosas obras de teatro en cartel, muchas de las
                            cuales pertenecen a la escena off (no comercial), cuya entrada suele ser más económica que
                            la de los teatros de la avenida Corrientes.</li>
                        <li>Lecturas únicas. Las librerías son una atracción de la ciudad, que no solo ofrece las
                            grandes cadenas sino también las pequeñas, independientes y con una selección personal</li>
                    </ul>
                    <p class="price">$1.500</p>
                </div>
            </article>
            <article class="product">
                <img src="./img/cba1.jpg" alt="cba">
                <div class="product-description">
                    <h5 class="place">Córdoba</h5>
                    <p class="description">Adrenalina y vistas épicas en la sierra cordobesa</p>
                    <br>
                    <ul>
                        <li>Vuelo de bautismo. Despegá desde las increíbles sierras cordobesas con los mejores
                            profesionales del parapente. Preparate para una experiencia llena de adrenalina y con vistas
                            aereas épicas. </li>
                        <li>Asado y fernet. Al volver te esperamos con un tradicional chivito al asador, para disfrutar
                            un buen almuerzo en un entorno natural único. Como aperitivo un imperdible fernet, la bebida
                            emblemática. </li>
                    </ul>
                    <p class="price">$3.000</p>
                </div>
            </article>
            <article class="product">
                <img src="./img/rn1.jpeg" alt="rn">
                <div class="product-description">
                    <h5 class="place">Rio Negro</h5>
                    <p class="description">Una noche estrellada en plena Patagonia</p>
                    <br>
                    <ul>
                        <li>Refugio Meseta Somuncura. Alejado de la civilización, en un paraje exclusivo e imponente, se
                            encuentra el refugio de montaña donde se pasa una noche de absoluta paz con vistas de un
                            cielo estrellado como nunca antes viste.</li>
                        <li>Cultura Mapuche. Las distintas comunidades mapuches de Rio Negro invitan a los viajeros a
                            descubrir sus tradiciones, música, artesanías y gastronomía entre lagos, bosques y montañas.
                            Una perspectiva diferente de esta cultura milenaria que conserva su cosmovisión y costumbres
                            ancestrales a pesar de la amenaza permanente.
                        </li>
                    </ul>
                    <p class="price">$2.000</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <img class="logo" src="./img/On-The-Road-Media-Logo.png" alt="logo">
        <p>Copyright © 2022 On the road S.R.L</p>
    </footer>
</body>

</html>