<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jujuy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="headerLeft">
            <img class="logo" src="./img/On-The-Road-Media-Logo.png" alt="logo">
            <div class="brand">
                <h1>On the road</h1>
                <h2>experiencias de viaje alternativas</h2>
            </div>
        </div>
        <div class="headerCenter">
            <form class="search">
                <input type="search" placeholder="¿Qué lugar querés visitar hoy?">
                <!--<button><i
                        class="fa-solid fa-magnifying-glass"></i></button>!--></input>
            </form>
        </div>
        <div class="headerRight">
            <a href="#cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <button class="login"><a href="#login">Iniciar sesión</a></button>
        </div>
    </header>
    <main class="jujuyMain">
        <img src="./img/jujuy/jujuyHumahuaca4.jpg" alt="jujuyHumahuaca">
    </main>
    <footer>
        <img class="logo" src="./img/On-The-Road-Media-Logo.png" alt="logo">
        <p>Copyright © 2022 On the road S.R.L</p>
    </footer>
</body>
</html>