<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/cart.css" rel="stylesheet">
    <link rel="icon" href="./img/favicon.png">
    <script src="https://kit.fontawesome.com/6488dd7609.js" crossorigin="anonymous"></script>
    <title>On the road</title>
</head>
<body>
    <header>
        <div class="headerLeft">
            <img class="logo" src="./img/On-The-Road-Media-Logo.png" alt="logo">
            <div class="brand">
                <h1>On the road</h1>
                <h2>experiencias de viaje alternativas</h2>
            </div>
        </div>
        <div class="headerCenter">
            <form class="search">
                <input type="search" placeholder="¿Qué lugar querés visitar hoy?">
                <!--<button><i
                        class="fa-solid fa-magnifying-glass"></i></button>!--></input>
            </form>
        </div>
        <div class="headerRight">
            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/login"><button class="login">Iniciar sesión</button>
            <a href="/register"><button class="register">Registrarse</button>
        </div>
    </header>
    <main>
        <nav class="top-nav">
            <a href="/">Inicio</a>
            <a href="#ofertas">Ofertas</a>
            <a href="#preguntas-frecuentes">Preguntas frecuentes</a>
            <a href="#contacto">Contacto</a>
        </nav>
        <div class="cart-container">
            <section class="explore">
                <h2>Seguí explorando</h2>
                <article class="explore-product">

                </article>
                <article class="explore-product">
                    
                </article>
            </section>
            <section class="cart">
                <h1>Carrito de compras</h1>
                <section class="cart-bar">
                    <h3>Experiencia</h3>
                    <h3>Precio</h3>
                </section>
                <section class="cart-product">
                    <article>

                    </article>
                </section>
                <article class="price">

                </article>
            </section>
            <section class="checkout">
                <h2>Resumen</h2>
                <article class="total">

                </article>
                <button class="checkout-button">Checkout</button>
            </section>
        </div>
    </main>
    <footer>
        <img class="logo" src="./img/On-The-Road-Media-Logo.png" alt="logo">
        <p>Copyright © 2022 On the road S.R.L</p>
    </footer>
</body>
</html>