<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/register.css" rel="stylesheet">
    <link rel="icon" href="./img/favicon.png">
    <script src="https://kit.fontawesome.com/6488dd7609.js" crossorigin="anonymous"></script>
    <title>On the road</title>
</head>

<body>
    <header>
        <div class="headerLeft">
            <img class="logo" src="./img/On-The-Road-Media-Logo.png" alt="logo">
            <div class="brand">
                <h1>On the road</h1>
                <h2>experiencias de viaje alternativas</h2>
            </div>
        </div>
        <div class="headerCenter">
            <form class="search">
                <input type="search" placeholder="¿Qué lugar querés visitar hoy?">
                <!--<button><i
                        class="fa-solid fa-magnifying-glass"></i></button>!--></input>
            </form>
        </div>
        <div class="headerRight">
            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/login"><button class="login">Iniciar sesión</button>
        </div>
    </header>
    <main>
        <nav class="top-nav">
            <a href="/">Inicio</a>
            <a href="#ofertas">Ofertas</a>
            <a href="#preguntas-frecuentes">Preguntas frecuentes</a>
            <a href="#contacto">Contacto</a>
        </nav>
        <section class="account-page">
            <h3>¡Creá tu cuenta!</h3>
            <div class="container">
                <form id="login-form" action="/login" method="POST" class="form">
                    <div class="form-group">
                        <label class="form-label " for="name">Nombre</label>
                        <input type="text" class="form-control" autocorrect="off" autocapitalize="off" name="name" placeholder="ej: Pablo" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label " for="lastName">Apellido</label>
                        <input type="text" class="form-control" autocorrect="off" autocapitalize="off" name="name" placeholder="ej: Pérez" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label " for="email">Email</label>
                        <input type="email" class="form-control" autocorrect="off" autocapitalize="off" name="email" placeholder="ej: name@email.com" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label " for="phoneNumber">Teléfono</label>
                        <input type="number" class="form-control" autocorrect="off" autocapitalize="off" name="phoneNumber" placeholder="ej: 1234567890" required>
                    </div>                       
                    <div class="form-group">
                        <label class="form-label" for="password">Contraseña</label>
                        <input type="password" class="form-control" autocorrect="off" autocapitalize="off" autocomplete="off" name="password" placeholder="8 caratéres mínimo" required>
                    </div>
                    <button class="reset-button" type="reset">Borrar todo</button>                  
                    <button class="register-button" type="submit">Crear cuenta</button>
                </form>
                <p class="text-center t2">¿Ya tenés una cuenta? <a href="/login" class="login-button">Iniciá sesión</a></p>
            </div>
        </section>
    </main>
    <footer>
        <img class="logo" src="./img/On-The-Road-Media-Logo.png" alt="logo">
        <p>Copyright © 2022 On the road S.R.L</p>
    </footer>
</body>

</html>