/*Estilo General*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/*Header*/

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin: 0px 5px 0px 5px;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 33%;
}

header .logo {
    height: 30%;
    width: 30%;
}

.brand {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    line-height: 25px;
}

.brand h2 {
    font-size: 16px;
    color: #666;
}

.headerCenter {
    width: 33%;
    display: flex;
    justify-content: center;
}

header form input {
    height: 40px;
    width: 130%;
    border-radius: 50px;
    text-align: center;
}

.headerRight {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerRight i {
    color: black;
    font-size: 32px;
    padding: 20px;
    transition: all 450ms;
}

.headerRight i:hover {
    color: rgba(0, 0, 0, 0.651);
}

button.login {
    background-color: black;
    height: 40px;
    width: 130px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 1%;
    cursor: pointer;
    transition: all 0.4s;
}

.login:hover {
    background-color: rgba(0, 0, 0, 0.651);
    border-color: rgba(0, 0, 0, 0.651);
}

.login {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.register {
    background-color: black;
    height: 40px;
    width: 130px;
    border: 1px;
    border-radius: 50px;
    margin: 1%;
    cursor: pointer;
    transition: all 0.4s;
}

.register:hover {
    background-color: rgba(0, 0, 0, 0.651);
    border-color: rgba(0, 0, 0, 0.651);
}

.register {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/*Main*/

/*Top nav*/

.top-nav {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-left: 25px;
    border-top: 1px solid #666;
    padding: 5px;
}

.top-nav a {
    color: black;
    text-decoration: none;
    transition: all 200ms;
}

.top-nav a:hover {
    font-weight: bold;
}

/*Admin*/



/*Footer*/

footer {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo {
    width: 7%;
    height: 7%;
}