/*Mobile first*/

/*Main*/

main {
    background-image: url('/img/cart-back.webp');
    background-size: contain;
    background-color: #f2f1ec;
}

/*Cart*/

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.explore {
    display: none;
}

.cart-container h1 {
    color: #666;
    text-align: center;
}

.cart-container h2 {
    color: #666;
    text-align: center;
}

.cart {
    background-color: white;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 4px;
}

.cart-bar {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ebebeb;
    margin-top: 10px;
    border-radius: 10px;
    color: #666;
}

.cart-product {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.exp {
    display: flex;
    flex-direction: column;
}

.cart-product img { 
    margin: 10px 0px 10px 0px;
}

.cart-product h4 {
    text-align: center;
}

.price {
    width: 100%;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.checkout {
    border-radius: 4px;
    background-color: white;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
}

.total {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.checkout-button {
    background-color: rgb(35, 35, 37);
    color: white;
    font-size: 20px;
    width: 92%;
    height: 50px;
    border: 0px;
    border-radius: 50px;
    margin: auto;
}

/*Breakpoints*/

/*Desktop*/

@media (min-width: 1024px) {

    main {
        background-image: url('/img/cart-back.webp');
        background-size: contain;
        background-color: #f2f1ec;
    }
    
    /*Cart*/
    
    .cart-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .cart-container h2 {
        text-align: center;
        color: #666;
    }
    
    .cart-container h1 {
        text-align: center;
        color: #666;
    }
    
    .explore {
        background-color: white;
        margin: 20px;
        padding: 10px;
        width: 20%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        height: 500px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .explore-product {
        text-align: center;
        margin-top: 20px;
    }
    
    .explore-product img {
        width: 60%;
        transition: all 450ms;
        border-radius: 4px;
    }
    
    .explore-product img:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .cart {
        background-color: white;
        margin: 20px;
        padding: 10px;
        width: 50%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        border-radius: 4px;
    }
    
    .cart-bar {
        display: flex;
        justify-content: space-around;
        border: 1px solid #ebebeb;
        margin-top: 20px;
        border-radius: 10px;
        width: 100%;
    }
    
    .cart-product {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .exp {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 20px;
    }
    
    .cart-product img {
        margin: auto;
        width: 100%;
    }
    
    .cart-product h4 {
        text-align: center;
        margin-top: 20px;
    }
    
    .price {
        display: flex;
        width: 50%;
    }

    .price h3 {
        text-align: center;
        margin: auto;
    }
    
    .checkout {
        border-radius: 4px;
        background-color: white;
        margin: 20px;
        padding: 10px;
        width: 20%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        display: flex;
        flex-direction: column;
    }
    
    .items {
        margin-top: 90px;
    }
    
    .total {
        margin-top: 200px;
        text-align: center;
    }
    
    .checkout-button {
        background-color: rgb(35, 35, 37);
        color: white;
        font-size: 20px;
        width: 92%;
        height: 50px;
        border: 0px;
        border-radius: 50px;
        transition: all 500ms;
        cursor: pointer;;
    }
    
    .checkout-button:hover {
        background-color: rgba(0, 0, 0, 0.651);
        border-color: rgba(0, 0, 0, 0.651);
    }
}