/* Desktop */

@media (min-width: 1024px) {

    .errorCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("/img/system/banner.jpg");
        background-size: cover;
    }

    .errorMsg {
        padding: 17%;
        margin-top: 0%;
        font-size: 27px;
        text-align: center;
        color: white;
    }
}