/*Mobile first*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0;
}

.brand {
    display: none;
}

.headerLeft {
    display: block;
    text-align: center;
    width: 20%;
}

.headerLeft img {
    width: 100%;
}

.headerCenter {
    width: 60%;
}

.headerCenter input {
    height: 40px;
    width: 100%;
    border-radius: 50px;
    padding-left: 2%;
    border-style: none;
    border: 1px solid black;
}

.headerRight {
    display: block;
    text-align: center;
    width: 10%;
}

.headerRight div {
    display: none;
}

#btnOrange {
    background-color: rgb(253, 141, 66);
    border-radius: 20%;
    padding: 5px 10px;
    color: white;
    border-style: none;
    font-size: 20px;
}

.top-nav {
    display: none;
}

/*Breakpoints*/

/* Desktop */

@media (min-width: 1024px) {

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0px;
    }

    .headerLeft {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 33%;
        margin: 5px;
    }

    header .logo {
        width: 30%;
        height: 30%;
        align-self: center;
    }

    .brand {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        text-align: left;
    }

    .brand h2 {
        font-size: 16px;
        color: #666;
        line-height: 25px;
    }

    .headerCenter {
        width: 33%;
        display: flex   ;
        justify-content: center;
        align-items: start;
    }

    .headerCenter input {
        height: 40px;
        width: 110%;
        border-radius: 50px;
        text-align: center;
    }

    .headerRight {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        margin: 0px;
    }

    .headerRight div {
        display: flex;
    }

    .headerRight button {
        border: none;
    }

    .headerRight i {
        color: black;
        background-color: white;
        font-size: 32px;
        padding: 25px;
        padding-left: 0px;
        padding-right: 3px;
        transition: all 450ms;
        cursor: pointer;
    }
    
    .headerRight i:hover {
        color: rgba(0, 0, 0, 0.651);
    }

    button.login {
        background-color: black;
        height: 40px;
        width: 130px;
        border: 1px solid black;
        border-radius: 50px;
        margin-top: 20px;
        cursor: pointer;
        transition: all 0.4s;
    }

    .login:hover {
        background-color: rgba(0, 0, 0, 0.651);
        border-color: rgba(0, 0, 0, 0.651);
    }

    .login {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }

    .register {
        background-color: black;
        height: 40px;
        width: 130px;
        border: 1px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.4s;
        margin-top: 20px;
    }

    .register:hover {
        background-color: rgba(0, 0, 0, 0.651);
        border-color: rgba(0, 0, 0, 0.651);
    }

    .register {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }

    .headerRight div a {
        margin: 0 2%;
    }

    #btnOrange {
        display: none;
    }

    .top-nav {
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 100px;
        padding-left: 25px;
        border-top: 1px solid #666;
        padding: 5px;
    }
    
    .top-nav a {
        color: black;
        text-decoration: none;
        transition: all 200ms;
    }
    
    .top-nav a:hover {
        font-weight: bold;
    }   

}