/*Mobile first*/

@media (max-width: 480px) {

    /*Main*/

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    /*Banner*/

    .banner {
        width: 100%;
        height: 100px;
        background-image: url("/img/banner.jpg");
        background-size: cover;
    }

    .banner-text {
        padding-top: 20px;
        text-align: center;
    }

    .banner-text h3 {
        color: white;
        font-size: 24px;
    }

    .banner-text h4 {
        color: white;
        font-size: 16px;
    }

    /*Product showcase*/

    .destacadas {
        color: #666;
        font-size: 18px;
        text-align: center;
        margin: 10px 0px 0px 0px;
    }

    .product-showcase {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0px;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }

    article.product {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
        border: 1px solid #dadada;
        margin: 10px;
        padding: 10px;
        border-radius: 4px;
    }

    .product a {
        text-decoration: none;
        color: black;
    }

    article.product img {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .name {
        font-size: 20px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .descriptionShort {
        width: 100%;
        height: 100%;
        border-top: 1px solid #ebebeb;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .price {
        font-size: 19px;
        text-align: center;
        font-weight: bold;
        align-items: flex-end;
        margin: 10px 0px 0px 0px;
    }

    /*Bottom banner*/

    section.bottom-banner {
        background-color: #f2f1ec;
        margin: 50px 10px 100px 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border: 1px solid #ebebeb;
    }

    .bottom-banner img {
        width: auto;
        max-width: 250px;
        height: auto;
        max-height: 250px;
        margin: auto;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .bottom-text {
        margin: 10px 0px 0px 0px;
        padding: 10px;
    }

    .bottom-text h3 {
        text-align: center;
    }
}

/*Breakpoints*/

/*Desktop*/

@media (min-width: 1024px) {

    /*Main*/

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    /*Banner*/

    .banner {
        width: 100%;
        height: 500px;
        background-image: url("/img/banner.jpg");
        background-size: cover;
    }

    .banner-text {
        padding-top: 200px;
        text-align: center;
    }

    .banner-text h3 {
        color: white;
        font-size: 42px;
        transition: all 450ms;
    }

    .banner-text h3:hover {
        color: rgba(0, 212, 255, 1);
    }

    .banner-text h4 {
        color: white;
        font-size: 18px;
    }

    /*Product Showcase*/

    .destacadas {
        color: #666;
        margin: 25px 0px 10px 15px;
        font-size: 24px;
        text-align: left;
    }

    .product-showcase {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 20px;
        margin-top: 0px;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }

    article.product {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 0px solid #dadada;
        margin: 10px;
        padding: 10px;
        transition: all 450ms;
        border-radius: 4px;
        width: 100%;
    }

    article.product:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    article.product img {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    article.product:hover img {
        transition: all 1s;
        transform: scale(1.05);
    }

    .product a {
        text-decoration: none;
        color: black;
    }

    .name {
        font-size: 20px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .shortDescription {
        width: 100%;
        height: 100%;
        border-top: 1px solid #ebebeb;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .price {
        font-size: 19px;
        text-align: center;
        font-weight: bold;
        margin: 10px 0px 0px 0px;
        align-items: flex-end;
    }

    /*Bottom banner*/

    section.bottom-banner {
        background-color: #f2f1ec;
        margin: 50px 10px 100px 10px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        border: 1px solid #ebebeb;
    }

    .bottom-banner img {
        width: 25%;
        max-width: none;
        height: auto;
        max-height: none;
        margin: auto;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .bottom-text {
        margin: 10px;
        padding: 10px;
    }

    .scroll {
        padding-top: 102px;
    }
}