/* main */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 15%;
}

/*imgMuestra*/

.bannerShow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#img1 {
    width: 80%;
    border-radius: 15px;
}

.bannerShow div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.bannerShow div img {
    width: 20%;
    padding: 20px;
    border-radius: 25px;
}

.descripcion, .informacion {
    width: 45%;
    line-height: 27px;
}

#multiTab {
    margin: 2% 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#multiTab button {
    border-style: none;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    width: 15%;
    height: 50px;
    margin: 0 5%;
    transition: all 0.3s;
}

#multiTab button:hover {
    background-color: rgba(87, 184, 255, 0.745);
    border-color: rgba(87, 184, 255, 0.745);;
}

#showMaps {
    width: 100%;
    height: 600px;
    border: 0;
    border-radius: 20px;
}

/* calendarSection */

#calendario table {
    border-spacing: 5px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid black;
}

#calendario tr td {
    text-align: center;
    border-radius: 100%;
    border: 1px solid grey;
    width: 50px;
    height: 50px;
}

#calendario tr td:hover {
    background-color: #666;
}

/* reviewSection */

#opiniones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#opiniones article {
    width: 45%;
    margin: 10px;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#opiniones .imgPerfil {
    width: 40%;
    border-radius: 10px;
}

/*Product Showcase*/

.titleProducts {
    font-size: 2.5em;
}

section.product-showcase {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

article.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 0px solid #dadada;
    width: 30%;
    margin: 10px;
    transition: all 450ms;
}

article.product img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
}

article .product-description {
    width: 100%;
    height: 100%;
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.place {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.description {
    text-align: center;
}

.product-description li {
    text-align: justify;
    list-style-type: none;
    display: none;
}

.price {
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    align-items: flex-end;
}

/*Footer*/

footer {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo {
    width: 7%;
    height: 7%;
}

/*Breakpoints*/

/* mobile */

/* @media (min-width: 320px) {

    main {
        margin: 0;
    }

    .bannerShow div {
        display: none;
    }

    .descripcion {
        width: 100%;
        line-height: normal;
        margin-bottom: 2%;
    }

    .informacion {
        width: 100%;
        line-height: normal;
    }

} */

/* tablet */

/* @media (min-width: 768px) {

    section.product-showcase {
        justify-content: space-around;
    }

    article.product {
        width: 45%;
    }

} */

/* Desktop */

/* @media (min-width: 1024px) {
    
    article.product {
        width: 30%;
    }

    article.product:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    article.product:hover img {
        transition: all 1s;
        transform: scale(1.05);
    }

    .bannerShow div {
        display: flex;
        margin-bottom: 2%;
    }
    
} */