/* Mobile first */

/* Breakpoints */

/* Desktop */

@media (min-width: 1024px) {

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .result {
        margin: 2% 0% 1% 1.5%;
        color: #666;
    }

    .not-found {
        color: #666;
        text-align: center;
    }

    .inspo {
        margin-left: 10%;
        margin-top: 5%;
    }
}