/*Estilo General*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/*Header*/

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin: 5px;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 33%;
}

header .logo {
    height: 30%;
    width: 30%;
}

.brand {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.brand h2 {
    font-size: 16px;
    color: #666;
}

.headerCenter {
    width: 33%;
    display: flex;
    justify-content: center;
} 

header form input {
    height: 40px;
    width: 130%;
    border-radius: 50px;
    text-align: right;
}

.headerRight {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerRight i {
    color: black;
    font-size: 32px;
    padding: 20px;
    transition: all 450ms;
}

.headerRight i:hover {
    font-size: 40px;
}

button.login {
    background-color: black;
    height: 40px;
    width: 50%;
    border-radius: 50px;
}

.login a {
    color: white;
    text-decoration: none;
}

/*Main*/

.top-nav {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    padding-left: 25px;
    border-top: 1px solid #666;
}

.top-nav a {
    color: black;
    text-decoration: none;
}

.product a {
    text-decoration: none;
    color: black;
}

.jujuyMain {
    padding: 0 5%;
}

.jujuyMain img{
    width: 90%;
    margin: auto;
}

/*Banner*/

.banner {
    width: 100%;
    height: 500px;
    background-image: url("/img/banner.jpg");
    background-size: cover;
}

.banner-text {
    padding-top: 200px;
    text-align: center;
}

.banner-text h3 {
    color: white;
    font-size: 42px;
}

.banner-text h4 {
    color: white;
    font-size: 18px;
}

.banner-text h3:hover {
    color: rgba(0,212,255,1);
}

/*Product Showcase*/

section.product-showcase {
    display: flex;
    flex-wrap: nowrap;
}

article.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    border: 1px solid #dadada;
    margin: 10px;
    padding: 10px;
}

article.product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article.product img {
    width: 100%;
    margin: 5px;
}

article .product-description {
    width: 100%;
    height: 100%;
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.place {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.description {
    text-align: center;
}

.product-description li {
    text-align: justify;
    list-style-type: none;
    display: none;
}

.price {
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    align-items: flex-end;
}

/*Bottom banner*/

/*Footer*/

footer .logo {
    width: 10%;
    height: 10%;
}

/*Breakpoints*/
