<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: 'Carrito' , css: 'cart.css' }) %>


    <body>
        <%- include('./partials/header') %>
            <main>  
                <nav class="top-nav">
                    <a href="/">Inicio</a>
                    <a href="#ofertas">Ofertas</a>
                    <a href="#preguntas-frecuentes">Preguntas frecuentes</a>
                    <a href="#contacto">Contacto</a>
                </nav>
                <div class="cart-container">
                    <section class="explore">
                        <h2>Seguí explorando</h2>
                        <article class="explore-product">
                            <img src="/img/bsas3.jpg" alt="explore-bsas">
                            <h4>Un día en Buenos Aires</h4>
                        </article>
                        <article class="explore-product">
                            <img src="/img/rn1.jpeg">
                            <h4>Una noche estrellada en Rio Negro</h4>
                        </article>
                    </section>
                    <section class="cart">
                        <h1>Carrito de compras</h1>
                        <section class="cart-bar">
                            <h3>Experiencia</h3>
                            <h3>Precio</h3>
                        </section>
                        <section class="cart-product">
                            <img src="/img/juj2.jpg" alt="juj">
                            <h4>Jujuy - Recorriendo la huella gaucha del Norte</h4>
                        </section>
                        <article class="price">
                            <h3>$3.000</h3>
                        </article>
                    </section>
                    <section class="checkout">
                        <h2>Resumen</h2>
                        <article class="items">
                            <h4>Items x 1</h4>
                            <h4>Experiencia en: Jujuy</h4>
                        </article>
                        <article class="total">
                            <h3>Total: $3.000</h3>
                        </article>
                        <button class="checkout-button">Checkout</button>
                    </section>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>