<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Home', css: 'index.css'}) %>

<body>
    <%- include('./partials/header') %>
        <main>
            <section class="banner">
                <div class="banner-text">
                    <h3>¡Explorá tu mundo!</h3>
                    <h4>Mucho más que unas vacaciones</h4>
                </div>
            </section>
            <section class="product-showcase">
                <h2>Experiencias destacadas</h2>
                <article class="product">
                    <img src="./img/bsas3.jpg" alt="bsas">
                    <div class="product-description">
                        <h5 class="place">Buenos Aires</h5>
                        <p class="description">Un dia para conocer los rincones de la ciudad y sentirte un
                            porteño más. </p>
                        <p class="price">$1.500</p>
                    </div>
                </article>
                <article class="product">
                    <img src="./img/cba1.jpg" alt="cba">
                    <div class="product-description">
                        <h5 class="place">Córdoba</h5>
                        <p class="description">Adrenalina y vistas épicas en la sierra cordobesa</p>
                        <p class="price">$3.000</p>
                    </div>
                </article>
                <article class="product">
                    <a href="/products/jujuy"><img src="./img/juj2.jpg" alt="juj"></a>
                    <div class="product-description">
                        <h5 class="place">Jujuy</h5>
                        <p class="description">Recorriendo la huella gaucha del norte</p>
                        <p class="price">$3.000</p>
                    </div>
                </article>
                <article class="product">
                    <img src="./img/rn1.jpeg" alt="rn">
                    <div class="product-description">
                        <h5 class="place">Rio Negro</h5>
                        <p class="description">Una noche estrellada en plena Patagonia</p>
                        <p class="price">$2.000</p>
                    </div>
                </article>
            </section>
            <section class="bottom-banner">
                <img src="./img/bottom-banner1.jpg" alt="bottom-banner">
                <div class="bottom-text">
                    <h3>Lorem ipsum</h3>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident exercitationem officia,
                        distinctio
                        illo, fugit aspernatur ad, cumque atque eaque tenetur similique laboriosam voluptatem nesciunt
                        hic
                        fugiat. Quo, nihil accusamus! Sit.</p>
                </div>
            </section>
            <br>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>