<!DOCTYPE html>
<html lang="es">
<base href="/" />
<%- include('partials/head', {title: 'Formulario de creación' , css: 'productCreateForm.css' }) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <h2 class="create-title">Formulario de creación de productos</h2>
                <div class="container">
                    <form action="/products/create" method="post" enctype="multipart/form-data">
                        <div class="form-container">
                            <div class="c-1">
                                <div class="input-container">
                                    <label for="name" class="label-container">Lugar:</label>
                                    <input type="text" id="name" name="name" placeholder="Ej: Buenos Aires"
                                        class="input">
                                </div>
                                <div class="input-container">
                                    <label for="discount" class="label-container">Descuento:</label>
                                    <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="input">
                                </div>
                                <div class="input-container">
                                    <label for="shortDescription" class="label-container">Descipción breve:</label>
                                    <textarea name="shortDescription" id="shortDescription" class="input"></textarea>
                                </div>
                                <div class="input-container">
                                    <label for="image" class="label-container">Imagen:</label>
                                    <input type="file" name="image" id="image" class="img-input"></input>
                                </div>
                            </div>
                            <div class="c-2">
                                <div class="input-container">
                                    <label for="price" class="label-container">Precio:</label>
                                    <input type="text" id="price" name="price" placeholder="Ej: 1500" class="input">
                                </div>
                                <div class="input-container">
                                    <label for="category" class="label-container">Categoría:</label>
                                    <select name="category" id="category" class="category">
                                        <option value="">Elegí</option>
                                        <option value="urbano">Urbano</option>
                                        <option value="naturaleza">Naturaleza</option>
                                        <option value="aventura">Aventura</option>
                                    </select>
                                </div>
                                <div class="input-container">
                                    <label for="longDescription" class="label-container">Descipción completa:</label>
                                    <textarea name="longDescription" id="longDescription" class="input"></textarea>
                                </div>
                            </div>
                            <div class="input-container">
                                <button type="submit" class="submit-button">Guardar producto</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>