<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Experiencias' , css: 'products.css' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
            </main>
    </body>
    <%- include('./partials/footer') %>

</html>