

 <form id="login-form" action="/user/register" method="POST" class="form" enctype="multipart/form-data">
    <div class="form-group">
        <label class="form-label" for="image">Imagen de perfil</label>
        <input type="file" class="form-control" name="image">
    </div>
</form>