<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: 'Eliminar mi cuenta' , css: 'userDelete.css' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="form-container">
                    <h1>¿Está seguro que desea eliminar su cuenta?</h1>
                    <form class="form" action="/user/delete/<%= user.id %>?_method=DELETE" method="POST">
                        <div class="button-container">
                        <button type="submit" class="button">Si</button>
                        <a href="/user/profile"><button class="button" type="button">No</button></a>
                    </div>
                    </form>
                </div>
            </main>
            <script src="js/header.js"></script>
            <%- include('./partials/footer') %>
    </body>

</html>