<header>
    <div class="headerLeft">
        <img class="logo" src="/img/On-The-Road-Media-Logo.png" alt="logo">
        <div class="brand">
            <h1>On the road</h1>
            <h2>experiencias de viaje alternativas</h2>
        </div>
    </div>
    <div class="headerCenter">
        <form class="search" action="/products/search" method="GET">
            <input type="search" name="search" placeholder="¿Qué lugar querés visitar?">
        </form>
    </div>
    <div class="headerRight">
        <button id="btnOrange"><i class="fas fa-bars"></i></button>
        <% if(locals.log) { %>
            <div class="usercont">
                <p class="user">Hola, <%= locals.userLog.firstName %>
                </p>
                <div class="dropcont">
                    <button><i class="fa-solid fa-user"></i></button>
                    <div class="droplist">
                        <a href="/user/profile">Perfil</a>
                        <a href="#favoritos">Favoritos</a>
                        <a href="/user/logout">Cerrar sesión</a>
                    </div>
                </div>
            </div>
            <a href="/products/cart"><button class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></button></a>
            <% } else { %>
                <div class="guest">
                    <a href="/user/login"><button class="login">Iniciar sesión</button></a>
                    <a href="/user/register"><button class="register">Registrarse</button></a>
                </div>
                <% } %>
    </div>

    <nav class="top-nav">
        <a href="/">Inicio</a>
        <a href="/products">Experiencias</a>
        <a href="/products/promotions">Promociones</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>

<script src="/js/header.js"></script>