<header>
    <div class="headerLeft">
        <img class="logo" src="/img/On-The-Road-Media-Logo.png" alt="logo">
        <div class="brand">
            <h1>On the road</h1>
            <h2>experiencias de viaje alternativas</h2>
        </div>
    </div>
    <div class="headerCenter">
        <form class="search" action="/products/search" method="GET">
            <input type="search" name="search" placeholder="¿Qué lugar querés visitar?">
        </form>
    </div>
    <div class="headerRight">
        <button id="btnOrange"><i class="fas fa-bars"></i></button>
        <% if(locals.log) { %>
            <p>Hola, <%= locals.userLog.firstName %></p>
            <a href="/products/cart"><button class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></button></a>
            <% } else { %>
        <div>
            <a href="/user/login"><button class="login">Iniciar sesión</button></a>
            <a href="/user/register"><button class="register">Registrarse</button></a>
        </div>
        <% } %>
    </div>

    <nav class="top-nav">
        <a href="/">Inicio</a>
        <a href="/products">Experiencias</a>
        <a href="#regions">Promociones</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>