<header>
    <div class="headerLeft">
        <img class="logo" src="/img/On-The-Road-Media-Logo.png" alt="logo">
        <div class="brand">
            <h1>On the road</h1>
            <h2>experiencias de viaje alternativas</h2>
        </div>
    </div>
    <div class="headerCenter">
        <form class="search">
            <input type="search" placeholder="¿Qué lugar querés visitar hoy?">
        </form>
    </div>
    <div class="headerRight">
        <button id="btnOrange"><i class="fas fa-bars"></i></button>
        <div>
            <a href="/products/cart"><button class="cart"><i class="fa-solid fa-cart-shopping"></i></button></a>
            <a href="/user/login"><button class="login">Iniciar sesión</button></a>
            <a href="/user/register"><button class="register">Registrarse</button></a>
        </div>
    </div>
    <nav class="top-nav">
        <a href="/">Inicio</a>
        <a href="#ofertas">Ofertas</a>
        <a href="#preguntas-frecuentes">Preguntas frecuentes</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>